.header{
	width: 75%;
	margin: 0 auto;
}

.middle{
	background-color: white;
}

.logo{
	float: left;
}

.lateral{
	background-color: #CED1D2;
	float: left;
}

.menu{
	background-color: white;
	float: left;
	margin-left: 13%;
}

.conta{
	float: right;
}

.banner{
	margin: 1%;
}

.blocos{
	margin: 2%;
	width: 100%;
}

.bloco{
	width: 33%;
	float: left;
	height: 450px;
}
.footer{
	width: 100%;
	float: left;
}

.escuro{
	background-color: #666666;
	width: 100%;
}

.claro{
	background-color: #999999;
	width: 100%;
	float: left;
}

.direitos{
	float: left;
	width: 50%;
}

.fundo{
	float: left;
	width: 50%;
}

.regras{
	
}